body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    display: block;
}


/*--------------------------------------------
            barra de navegacao
--------------------------------------------*/


.veg {
    background-color: #181717;
    display: flex;
    border-radius: 5px;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;

}
.caf1 {
    width: 100px;
}
nav {
    display: flex;
    gap: 200px;
    align-items: center;
    position: relative;
    left: 200px;
}
a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    background-color: #2C2C2C;
    color: #FFFFFF;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}
nav :hover {
    background-color: #5c5b5b;
    border-radius: 17px;
    transition: 0.3s;
}


/*--------------------------------------------
                inicio
--------------------------------------------*/


header {
    background-color: #1C1C1C;
    margin: 0px;
    padding-top: 120px;
}

.ti1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 49px;
    padding-top: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pa1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 33px;
    margin: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.disf {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 90px;

}
.boto {
    border-radius: 10px;
    margin: 99px;
}

.disf :hover {
    background-color: #5c5b5b;
    border-radius: 17px;
    transition: 0.3s;

}


/*--------------------------------------------
                Sobre
--------------------------------------------*/

.sobr {
    background-color: #2C2C2C;
    padding: 100px 0;
}
.sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
}
.caf2 {
    width: 650px;
    border-radius: 50px;
}
.sobre-texto {
    max-width: 500px;
}
.sob {
    font-size: 55px;
    color: #FFFFFF;
    margin: 0 0 20px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bre {
    font-size: 30px;
    color: #FFFFFF;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

/*--------------------------------------------
        Cardapio parte do cafe
--------------------------------------------*/

main {
    background-color: #1C1C1C;
    padding-bottom: 80px;
}
.coff {
    color: #FFFFFF;
    text-align: center;
    padding-top: 40px;
    margin: 0;
    font-size: 40px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cafes-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 60px;
}
.cafe-item {
    background-color: #FFFFFF;
    width: 250px;
    height: 520px;
    padding: 21px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caff{
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 49px;
    margin-top: 15px;
}
.inte {
    color: #272727;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 28px;
    margin-top: -22px;
    text-align: center;
}
.cafi {
    width: 250px;
    border-radius: 25px;
}
.val1 {
    color: #d69760;
    font-size: 35px;
    padding: 5px;
    align-content: center;
    margin-top: -10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cap {
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 44px;
    margin-top: 15px;
}
.capi {
    width: 250px;
    border-radius: 25px;
}
.val2 {
    color: #d69760;
    font-size: 35px;
    margin-top: 10px;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lat{
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 46px;
    margin-top: 15px;
}
.lati {
    width: 250px;
    border-radius: 25px;
}
.cho {
   color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 42px;
    margin-top: 15px;
    text-align: center;
}
.choc {
    width: 250px;
    border-radius: 25px;
}
.cafn {
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 19px;
}
.can {
    width: 250px;
    border-radius: 25px;
}

/*--------------------------------------------
        Cardapio parte do doces
--------------------------------------------*/


.swee {
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    margin: 0px;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sweet-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 60px;
}
.sweet-item {
    background-color: #FFFFFF;
    width: 250px;
    height: 520px;
    padding: 21px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pudin {
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 15px;
}
.puid {
    width: 250px;
    border-radius: 21px;
}
.val3{
    color: #d69760;
    font-size: 35px;
    margin-top: -7px;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.val4{
    color: #d69760;
    font-size: 35px;
    margin-top: 20px;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cro {
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 15px;
}
.crois {
    width: 250px;
    border-radius: 21px;
}

.coo {
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    margin-top: 15px;
    text-align: center;
}
.cho {
    width: 250px;
    border-radius: 21px;
    margin-top: 4px;
}
.bcoo {
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 15px;
    text-align: center;
}
.bol {
    width: 250px;
    border-radius: 21px;
    margin-top: 0px;
}
.qui {
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    font-size: 39px;
    margin-top: 15px;
    text-align: center;
}
.pa {
    width: 250px;
    border-radius: 21px;
    margin-top: 0px;
}
.moso {
    color: #272727;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 28px;
    margin-top: -22px;
    text-align: center;
}


/*--------------------------------------------
                avaliacoes
--------------------------------------------*/



.noa {
    background-color: #2C2C2C;
    padding-bottom: 80px;
}
.avali {
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    font-size: 40px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.avaliacao-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 350px;
    margin-top: 60px;
}
.avalia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil {
    width: 120px;
    border-radius: 90px;
    margin-top: 20px;
}
.ava1 {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.ava2 {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.ava3 {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.av1 {
    text-align: center;
    font-size: 17px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.av2 {
    text-align: center;
    font-size: 17px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.av3 {
    text-align: center;
    font-size: 17px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}



/*--------------------------------------------
                Contato
--------------------------------------------*/



.conta {
    background-color: #1C1C1C;
    padding-top: 1px;
}
.tato {
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}
h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    margin-top: -2px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.cafe10 {
    width: 350px;
    display: flex;
    justify-self: center;
    margin-top: 40px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}
label {
    color: #FFFFFF;
    font-size: 26px;
}
input {
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}
.input1 {
    text-transform: capitalize;
}
.foms {
    margin-top: 20px;
}
.campos {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.campos div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nut {
    font-size: 20px;
    width: 750px;
    height: 35px;
    margin-top: 25px;
    border: none;
    border-radius: 20px;
    color: #ffff;
    background-color: #3f3f3f;
    cursor: pointer;
}
.nut:hover {
    background-color: #7c7a7a;
}
.otat {
    display: flex;
    justify-self: center;
    gap: 50px;
    margin-top: 15px;
}
.otat a {
    background: none;
}
.instagram-normal {
    width: 90px;
    background: none;
}
.instagram-hover {
    display: none;
    width: 100px;
    height: 90px;
}

a:hover .instagram-normal {
    display: none;
}

a:hover .instagram-hover {
    display: block;
}

.whatsapp-normal {
    width: 90px;
    background: none;
}
.whatsapp-hover {
    display: none;
    width: 90px;
    height: 90px;
}

a:hover .whatsapp-normal {
    display: none;
}

a:hover .whatsapp-hover {
    display: block;
}


/*--------------------------------------------
                rodape
--------------------------------------------*/


footer {
    background-color: #161515;
    padding: 9px;
    color: #FFFFFF;
    display: flex;
    gap: 90px;
    justify-content: center;
}
.roa {
    background: none;
    border: none;
    font-size: 16px;
    color: #fafafa;
    text-decoration: underline;
}
